.figure {
float: left;
width: 50%;
height: 75px;
margin-top: 10px;
margin-right: 10%;
margin-bottom: 500px;
}

.caption {
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 160%;

}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.navbar-brand{
    color: red;
}

.photo {
width: 360px;
height: 325px;
}