
/*This changes the background of the navigation bar*/
#top-bar {
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom:  2px solid #cccccc;
}

/*Makes nav-link bar full length  */
.nav-link {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;    
}

.nav-item {
   float: right;
   width: 150px;
   max-width: 80%;
   padding: 5px;
   background: #ffffff;
   border: 1px #dddddd;
}

/*For the man with head in wall photo*/
.figure {
    float: left;
    width: 40%;
    height: 75px;
    margin-top: 2px;
    margin-right: 3%; /*This is the distance between the right side of the figure and <p>*/
    margin-bottom: 116px; /*The distance between the figure caption and <p> */
}

.caption {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 95%;

}

/*Link color*/
.nav-link {
    color: #696969;
}

.main{
    background-color: whitesmoke;
    overflow: auto; /*Is putting the information <p> in the container*/
    margin: 12% 20%;
    padding: 20px;
    height: auto;
    max-width: 960px;
}

.underline{
    border-color: black;
    border-bottom: 100px;
}
#name {
    color: black;
    font-size: 36px;
    font-family: fantasy;
    padding: 0px 0px 0px 5px;
}

.footer {
    border-top: 8px solid;
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #696969;
    color: black;    
}

/*Portfolio*/


.work {
   width: 274px;
   overflow: auto;
   float: left;
   margin: 20px 0 25px;
   
   
} 

.work img {
    width: 100%;
    border: 0 none;
    opacity: .9; /*transparency of an object*/
    border-radius:10px;
    
  }
  
  .work h3 {
    position: relative;
    bottom: 10px;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 10px;
    font-weight: 300;
    background:rgba(24, 85, 109, 0.692);
    border-bottom: 0;
    font-size: 22px;
    font-family: "comic sans ms", cursive, sans-serif;
      
  }

  .w3-panel {
    border-top: 8px solid;
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #696969;
    color: black;    
}












































